@import "../../styles/variables";

.logout__button {
  color: red;
  width: 44px;
  height: 44px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  bottom: 46px;
}

.data__bank {
  background: rgba(0, 209, 255, 0.2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.h1__username {
  font-family: $text--font;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.h1__date {
  font-family: $text--font;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
}

.h1__userDocument {
  font-family: $text--font;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}

.bank__specification {
  font-family: $text--font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 48px;
  width: 450px;
}

@media (max-width: $mobile) {
  .data__bank {
    width: 370px;
  }

  .h1__username {
    font-size: 28px;
  }

  .h1__date {
    font-size: 22px;
  }

  .h1__userDocument {
    font-size: 22px;
  }

  .bank__specification {
    width: 315px;
  }
}

@media (max-width: 385px) {
  .logout__button {
    width: 32px;
    height: 32px;
  }

  .button__container {
    bottom: 16px;
  }

  .data__bank {
    width: 270px;
  }

  .h1__username {
    font-size: 20px;
  }

  .h1__date {
    font-size: 14px;
  }

  .h1__userDocument {
    font-size: 18px;
  }

  .bank__specification {
    font-size: 16px;
  }

  .bank__specification {
    width: 215px;
  }
}
